
body {
    width: 100%;
    max-width: 1850px;
    margin: auto;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk', sans-serif;
}

.attribution {
    position: absolute;
    display: inline;
    text-align: right;
    bottom: 5px;
    width: 100%;
    right: 0;
    font-size: 1.2rem;

}


/* container */

.card_form-container{
    display: flex;
    height: 100%;
    width: 100%;
    /* justify-content: space-between; */

}

/* Card */

.card {
    height: 100vh;
    min-width: 700px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url('./images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 70%;
}

.card_front, .card_back {
    max-width: 400px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    margin: 15px 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.card_front {
    background-image: url('./images/bg-card-front.png');
    background-position: bottom;
    transform: translateX(-120px);
}
.card_back {
    background-image: url('./images/bg-card-back.png');
    background-position: top;
    transform: translateX(-20px);
}

/* Form */

.form_container {
    width: 50%;
    min-width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form {
    width: 90%;
    max-width: 650px;
    min-width: 350px;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-areas:
        "label_name label_name ."
        "name name name"
        "error_name error_name error_name"

        "label_fone . ."
        "fone fone fone"
        "error_fone error_fone error_fone"

        "date date label_cvc"
        "month year cvc"
        "error_date error_date error_cvv"

        "submit submit submit"
    ;
}

.form_label {
    margin: 20px 0 5px 10px;
    font-size: 1.4rem;
}
.input{
    width: 95%;
    height: 60px;
    margin: auto;
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
}
.input::placeholder {
    font-size: 1.5rem;
    text-transform: initial;
}
/* 
.input:invalid {
    border-color:  hsl(0, 100%, 66%);
} */

.form_error {
    color: hsl(0, 100%, 66%);
    font-size: 0.8rem;
    margin-top: 4px;
    margin-left: 15px;
}


.label_name {
    grid-area: label_name;
}
.input_name {
    text-transform: capitalize;
    grid-area: name;
}
.error_name {
    grid-area: error_name;
    display: inline-block;
}

.label_fone {
    grid-area: label_fone;
}
.input_fone {
    grid-area: fone;
}
.error_fone {
    grid-area: error_fone;
}

.label_month-year {
    grid-area: date;
}
.input_month {
    grid-area: month;
    height: 65px;
    width: 90%;
}
.input_year {
    grid-area: year;
    width: 80%;
}
.input_year::-webkit-calendar-picker-indicator {
    display: none;
}
.input_year::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.error_expiration {
    grid-area: error_date;
}

.label_cvc {
    grid-area: label_cvc;
    margin-left: 35px;
}
.input_cvc {
    grid-area: cvc;
    min-width: 20px;
    width: 85%;
    margin-left: 15px;
}
.error_cvv {
    grid-area: error_cvv;
    transform: translateX(20px);
}

.input__button {
    grid-area: submit;
    margin: auto;
    grid-column: 1/ span 3;
    background-color: rgb(33 9 46);
    color: hsl(0, 0%, 100%);
    padding: 10px;
    font-size: 1.7rem;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    cursor: pointer;
}

.input__button:hover {
    background-color: rgb(65, 7, 96);
}
.input__button:active {
    transform: translateY(2px);
}

/* Card_front decoration */

.card_photo{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    transform: translate(20px, 10px);
    position: relative;
}
.card_photo::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    top: 30%;
    right: -45%;
}
.card_number {
    position: absolute;
    transform: translate(20px, 90px);
    font-size: 2rem;
    color: white;
}
.card_name {
    position: absolute;
    transform: translate(25px, 140px);
    color: white;
}
.card_date{
    position: absolute;
    transform: translate(330px, 140px);
    color: white;
}


@media screen and (max-width: 1440px) {
    .card {
        background-size: contain;
        background-position: left;
        transform: translateX(-100px);
        min-width: 700px;
    }

    .form {
        width: 100%;
        transform: translateX(-80px);
    }
    .form_label {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1070px) {
    .card {
        background-size: cover;
        background-position: left;
        transform: translateX(-180px);
        min-width: 500px;
    }

    .card_front, .card_back {
        max-width: 360px;
        max-height: 230px;
    }
    .card_front {
        transform: translateX(80px);
    }
    .card_back {
        transform: translateX(140px);
    }

    .form {
        width: 100%;
        transform: translateX(-30px);
    }
    .form_label {
        font-size: 1.1rem;
    }

    /* card decoration */
    .card_number {
        transform: translate(20px, 80px);
        font-size: 1.7rem;
    }
    .card_name {
        transform: translate(25px, 120px);
    }
    .card_date{
        transform: translate(280px, 120px);
    }
}

/* mobile */

@media screen and (max-width: 870px) {

    .attribution {
        position: relative;
        transform: translateY(300px);
        text-align: center;
    }

    .card_form-container {
        flex-direction: column;
    }
/* card */
    .card {
        width: 100vw;
        min-height: 600px;
        background-image: url('./images/bg-main-mobile.png');
        transform: translate(0, -200px);
        align-items: center;
    }
    .card_front, .card_back {
        min-width: 550px;
        min-height: 320px;
        width: 550px;
        height: 320px;
    }
    .card_front {
        z-index: 2;
        transform: translate(-80px, 470px);
    }
    .card_back {
        z-index: 1;
        transform: translate(80px, -80px);
    }

    /* form */

    .form_container {
        width: 100vw;
        align-items: flex-start;
        height: 240px;
    }

    .form {
        width: 90%;
        transform: translate(0, 20px);
    }
    
}

@media screen and (max-width: 750px) {
    .card {
        transform: translate(0, -250px);
    }
    .card_front, .card_back {
        min-width: 400px;
        min-height: 250px;
    }
    .card_front {
        transform: translate(-80px, 420px);
    }
    .card_back {
        transform: translate(80px, -20px);
    }

    /* form */

    .form {
        width: 90%;
        transform: translate(0, -80px);
    }
}

@media screen and (max-width: 600px) {

    .attribution {
        font-size: 1rem;
        transform: translateY(50px);
    }


    .card {
        transform: translate(0, -310px);
        min-width: 320px;
    }
    .card_front, .card_back {
        width: 300px;
        height: 200px;
        min-width: 320px;
        min-height: 150px;
    }
    .card_front {
        transform: translate(-60px, 390px);
    }
    .card_back {
        transform: translate(60px, 40px);
    }

    /* form */

    .form {
        width: 90%;
        transform: translate(0, -220px);
    }
    .form_label {
        font-size: 1rem;
    }

    /* decoration */

    .card_photo {
        width: 60px;
        height: 60px;
    }

    .card_number {
        transform: translate(20px, 50px);
        font-size: 1.5rem;
    }
    .card_name {
        transform: translate(25px, 90px);
    }
    .card_date{
        transform: translate(240px, 90px);
    }
}

@media screen and (max-width: 500px) {
    .card {
        transform: translate(0, -310px);
        min-width: 320px;
    }
    .card_front, .card_back {
        width: 300px;
        max-width: 300px;
        height: 200px;
        min-width: 300px;
        min-height: 150px;
    }
    .card_front {
        transform: translate(-60px, 390px);
    }
    .card_back {
        transform: translate(60px, 40px);
    }

    /* form */

    .form {
        width: 90%;
        transform: translate(0, -230px);
    }
    .form_label {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 445px) {

    .attribution {
        font-size: 0.8rem;
        transform: translateY(20px);
    }

    .card {
        transform: translate(0, -350px);
        min-width: 320px;
    }
    .card_front, .card_back {
        width: 250px;
        max-width: 250px;
        height: 150px;
        min-width: 250px;
        min-height: 100px;
    }
    .card_front {
        transform: translate(-50px, 360px);
    }
    .card_back {
        transform: translate(50px, 90px);
    }

    /* form */

    .form {
        width: 90%;
        transform: translate(0, -280px);
    }

    /* decoration */

    .card_photo {
        width: 40px;
        height: 40px;
    }
    .card_photo::after {
        width: 10px;
        height: 10px;
    }

    .card_number {
        transform: translate(20px, 40px);
        font-size: 1.2rem;
    }
    .card_name {
        transform: translate(25px, 70px);
    }
    .card_date{
        transform: translate(180px, 70px);
    }
}